.contact-form__content {
    max-width: 1230px;
    margin: 30px auto;
    color: #8a7867;
}

.contact-form__heading {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
}

.form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form__group:nth-of-type(6) {
    margin-bottom: 30px;
}

.form__label--item {
    font-weight: bold;
}

.form__label--required {
    color: #ff9b9a;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text-name input,
.form__input--text input,
.form__input--text-tel input,
.form__input--select select,
.form__input--textarea textarea {
    padding: 0;
    background-color: #f4f4f4;
    border: none;
}

.form__input--text-name input,
.form__input--text input,
.form__input--text-tel input,
.form__input--select select {
    height: 30px;
}

.form__input--text input,
.form__input--textarea textarea {
    width: 550px;
}

.form__input--text-name input::placeholder,
.form__input--text input::placeholder,
.form__input--text-tel input::placeholder,
.form__input--select select,
.form__input--textarea textarea::placeholder {
    color: #8a7867;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form__input--text-name input::placeholder,
.form__input--text input::placeholder,
.form__input--textarea textarea::placeholder {
    padding: 10px 0 10px 20px;
}

.form__input--text-name input {
    width: 260px;
}

.form__input--text-name input:last-child {
    margin-left: 25px;
}

.form__input--radio label {
    margin-right: 50px;
    cursor: pointer;
}

.form__input--radio label:last-child {
    margin-right: 250px;
}

.form__input--radio {
    font-weight: bold;
}

.form__input--radio input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 6px 2px 0;
    border: 1px solid #8a7867;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.form__input--radio input:checked {
    border: 4px solid #8a7867;
}

.form__input--radio input:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #8a7867;
    transform: translate(-50%, -50%);
}

.form__input--text-tel input {
    width: 160px;
}

.form__input--text-tel span {
    margin: 0 10px;
}

.form__input--text-tel input::placeholder {
    text-align: center;
}

.form__input--select {
    position: relative;
    display: inline-block;
}

.form__input--select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    margin-right: 250px;
    padding: 5px 0 5px 20px;
}

.form__input--select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 270px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 11px solid #8a7867;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__input--textarea textarea {
    height: 120px;
    resize: none;
}

.form__button {
    margin-top: 15px;
}

.form__button-submit {
    width: 18%;
    height: 40px;
    border: none;
    background-color: #8a7867;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
