.header__login-btn {
    padding: 3px 20px;
    border: 1px solid #8a7867;
    background-color: #f4f4f4;
    color: #8a7867;
    text-decoration: none;
    font-size: 14px;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #f1ece6;
}

.card {
    margin: 0 auto;
    color: #8a7867;
}

.card__title {
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 100px;
    background-color: #fff;
    border: 1px solid #8a7867;
    border-radius: 8px;
}

.form__group {
    margin-bottom: 25px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.form__input--text input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 15px;
    border: none;
    background-color: #f4f4f4;
}

.form__input--text input::placeholder {
    color: #8a7867;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form__error {
    height: 16px;
    margin-top: 5px;
    color: #d9534f;
}

.form__button {
    margin: 15px;
    text-align: center;
}

.form__button-submit {
    width: 25%;
    height: 40px;
    border: none;
    background-color: #8a7867;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
